body {
    background-color: #263238;
}

header {
    background-color: #5A7D5E;
    color: #fff;
    padding: 1rem;
}

#header h2 {
    padding: .5rem;
}

#skills {
    background-color: #7d6d5a;
    color: #000;
    padding: 1rem;
}

#skills p {
    color: white;
}

#skills i {
    font-size: 3.5rem;
}
